<footr>
    <div class="footer ">
        <div class="container">
            <div class="row">
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                            <div class="address">
                                <ul class="social_link">
                                    <li><a href="#"><img src="jackpiro/icon/fb.png"></a></li>
                                    <li><a href="#"><img src="jackpiro/icon/tw.png"></a></li>
                                    <li><a href="#"><img src="jackpiro/icon/lin(2).png"></a></li>
                                    <li><a href="#"><img src="jackpiro/icon/instagram.png"></a></li>
                                </ul>
                                <a href="index.html"> <img src="jackpiro/images/logo.png" alt="logo"></a>
                            </div>
                        </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 ">
                            <div class="address">
                                <h3>Informations </h3>
                                <ul class="loca">
                                    <li>
                                        <a href="#"><img src="jackpiro/icon/loc.png" alt="#" /></a>Address
                                        <br>Country
                                    </li>
                                    <li>
                                        <a href="#"><img src="jackpiro/icon/email.png" alt="#" /></a>E-mail
                                    </li>
                                    <li>
                                        <a href="#"><img src="jackpiro/icon/call.png" alt="#" /></a>Phone Number
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="copyright">
            <div class="container">
                <p>© Bootstrap Example <a href="https://html.design/">Free Bootstrap Templates</a></p>
            </div>
        </div>
    </div>
</footr>