
    <link rel="stylesheet" href="~/css/partiallist.css" />
    <form>
        <div class="contact">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control" placeholder="Subject">
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col h-100">
                    <textarea class="form-control" placeholder="Text" style="resize:none"></textarea>
                </div>
            </div>
            <br />
            <input class="btn btn-info" style="margin-left:36%"  type="submit" value="Contact Us!" />

        </div>
    </form>